{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AEC SHOPPING HUB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
    <style>
        .abcd {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .btn-custom {
            background-color: #04AA6D;
            color: white;
        }
        .btn-custom:hover {
            background-color: #3e8e41;
        }
        .dropdown-menu {
            min-width: 160px;
        }
    </style>
</head>
<body id="top">

<!-- Top Background Image Wrapper -->
<div class="abcd" style="background-image:url('{% static 'hm/images/demo/backgrounds/bg.jpeg' %}');">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-6">
                <form action="{% url 'search' %}" method="get" class="form-inline">
                    {% csrf_token %}
                    <input type="text" class="form-control mr-2" placeholder="Enter search item" name="q">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-md-6 text-right">
                <div class="dropdown d-inline">
                    <button class="btn btn-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/">All Products</a>
                        {% for i in categories %}
                        <a class="dropdown-item" href="{{ i.get_url }}">{{ i.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="pageintro" class="text-center py-5">
            <h3 class="heading" style="color: black;">QUALITY SERVICES</h3>
            <p style="color: black;">Get Connected to us for quality services</p>
            <a class="btn btn-secondary mr-2" href="/">Order Online</a>
            <a class="btn btn-secondary" href="contact.html">Contact us</a>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        {% for i in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{{ i.get_url }}"><img src="{{ i.img.url }}" class="card-img-top" alt="{{ i.name }}" style="height: 220px;"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">{{ i.desc|truncatechars:17 }}</p>
                    <p class="card-text">Price: {{ i.price }} Rs</p>
                    <p class="card-text">Stocks Left: {{ i.stock }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            {% for pg in products.paginator.page_range %}
            <li class="page-item {% if products.number == pg %} active {% endif %}">
                <a class="page-link" href="?page={{ pg }}">{{ pg }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>

<div class="bgded overlay" style="background-image:url('{% static 'hm/images/demo/backgrounds/05.png' %}'); height: 200px;"></div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
{% endblock %}
